[2015-02-20 20:22] baoist opened #3 "Fails on PNGs (or other base64 strings that aren't packed)"
Looks like this happens around: https://github.com/lebedev-yury/carrierwave-base64/blob/master/lib/carrierwave/base64/orm/activerecord.rb#L10
[code]

[2015-02-23 08:30] lebedev-yury commented on #3
Can you please give me an example of data, which you try to submit?

[2015-02-23 14:48] hopsor commented on #3
I also experienced this problem and solved it by removing that condition. It turns out not all image's base64 strings end with "==". You can read more about that here:

http://stackoverflow.com/questions/6916805/why-does-a-base64-encoded-string-have-an-sign-at-the-end

Regarding my [solution](https://github.com/hopsor/carrierwave-base64/commit/593178f91546c78d42789fc9f06ac582a26d442e) I'm not real

[2015-02-23 14:51] lebedev-yury commented on #3
If so, then it makes to sense to keep an additional condition in the code. The check for the string type should already do the separation of uploaded files from encoded strings.

Can you do a pull request then?

[2015-02-26 19:09] #3 closed

[2015-04-28 20:06] greggawatt opened #5 "Supports only JPG file type"
Code only supports images and specifically .jpg file types, pdfs uploaded for example are uploaded with the name "image. "

[2015-04-28 20:18] #5 closed

[2015-06-23 05:41] aligit opened #9 "Is there any support for mongoid"
Hello and thanks for this nice gem
I was wondering if anything other than active record is supported? If not is there any interest that I create one for mongoid?

Best,
Ali

[2015-06-23 10:25] lebedev-yury commented on #9
Thank you!

Mongoid is currently not supported, but i think it wouldn't be too complicated to add the support.

Do you want to do a pull request for this feature?

[2015-06-25 07:24] aligit commented on #9
You are welcome

I'm working on that and if feasible and ready I'll send the pull request. What would essentially be required?

[2015-06-25 08:59] lebedev-yury commented on #9
There is actually a pull request already for this issue:

https://github.com/lebedev-yury/carrierwave-base64/pull/10

[2015-07-15 10:46] lebedev-yury commented on #9
296e1e77c93bb8b14598c185704e8e7144ca8748

[2015-07-15 10:46] #9 closed

[2015-08-04 02:06] ArielAleksandrus opened #13 "undefined method `mount_base64_uploader' for #<Class:0x007f1f3055e8e8>"
I installed the gem "gem install 'carrierwave-base64'"
I included it to my Gemfile "gem 'carrierwave-base64'"
and changed the method mount_uploader to mount_base64_uploader.

I didn't change my previous uploader class:
    "class FotoUploader < CarrierWave::Uploader::Base
        .....
    end"

And I got this error message. How can I use carrierwave base64?

[2015-08-04 02:40] #13 closed

[2015-08-04 02:42] ArielAleksandrus commented on #13
This is embarassing... I forgot to restart the server

[2015-08-04 06:24] lebedev-yury commented on #13
no problems, it just happens :)

[2015-08-04 22:30] benwoodward opened #14 "Multi file uploads"
I created a multi uploads method that corresponds to the ```mount_uploaders``` method in Carrierwave master, there are no tests because carrierwave-base64 doesn't use Carrierwave master. If you create a dev branch, maybe I could PR it to that?

https://github.com/benwoodward/carrierwave-base64/tree/multi-uploads

[2015-08-12 12:54] lebedev-yury commented on #14
yep, sure

[2015-08-12 12:54] lebedev-yury commented on #14
https://github.com/lebedev-yury/carrierwave-base64/tree/dev

[2015-08-20 15:37] jmuheim opened #15 "Uploading works on create, but not on update"
I want to attach screenshots to my model. Using [paste.js](https://github.com/layerssss/paste.js) I can paste a screenshot to a textarea, which means it puts the encoded base64 string into the textarea.

For this, I do the following, so the input isn't displayed as upload but as normal textarea (I'm using Simple Form):

    = f.input :screenshot, as: :text

The cool thing is: when I create the rec

[2015-08-21 12:58] jmuheim opened #16 "Combination with cocoon gem: Upload of base64 string works for creating a nested object, but not for updating it"
In my project I figured out that your gem works perfectly in normal forms: I can easily upload base64 strings using a textarea, and your gem transforms it into a file. This works for both creating and updating objects.

I'm using https://github.com/nathanvda/cocoon gem which allows me to manage nested objects within the form of a parent object. Using it, it seems still to be possible upload a base

[2015-08-21 12:59] jmuheim commented on #15
More thoroughly examined and explained here:

https://github.com/lebedev-yury/carrierwave-base64/issues/16

[2015-08-21 12:59] #15 closed

[2015-08-25 14:46] jmuheim commented on #16
I have added model specs, and in the specs, the update works as expected.

https://github.com/jmuheim/test-carrierwave-base64-update/commit/bd6a40923c159b71a9ef240b760ba3651cf648cf

So it seems it's not a problem on the model's level.

I will try to add feature specs, showing the problem...

[2015-08-26 08:22] jmuheim commented on #16
I added feature specs which I hoped would show the problem, but somehow it seems to work in the specs, but not in the "live" browser, see here:

https://github.com/jmuheim/test-carrierwave-base64-update/blob/master/spec/features/users_spec.rb#L48

As @nathanvda, the creator of the cocoon gem, helpfully pointed out: it seems that when only setting the base64 string to a new string **and no other at

[2015-08-28 13:51] jmuheim commented on #16
I'll be on holidays the next week. It would be very nice to see some progress here until then, as our application heavily depends on your gem in combination with nested attributes and cocoon.

If I can be of any help afterwards, please ask. Thank you.

[2015-08-28 13:57] lebedev-yury commented on #16
I will take a look in a couple of days, had no time yet
On Fri 28 Aug 2015 at 15:51 Joshua Muheim <notifications@github.com> wrote:

[2015-08-29 08:33] jmuheim commented on #16
It's great to hear that you're planning to take care of it. I'm very eager to know where exactly the problem lies. Be sure to take also a look at the corresponding ticket at cocoon's side:

https://github.com/nathanvda/cocoon/issues/311

Best wishes.

[2015-08-31 10:46] #14 closed

[2015-08-31 10:47] #16 closed

[2015-08-31 10:51] lebedev-yury commented on #16
The problem was that the attribute was not marked as updated by the `carrierwave` gem. Your text app works as expected with the new version of `carrierwave-base64`.

Sorry that it took a while for me to fix it, i was on vacation the last week.

[2015-09-07 14:18] jmuheim opened #17 "Can mount_base64_uploader also handle normal file uploads?"
I want to offer the users of my website to either use a standard `input type="file"` or a textarea with a base64 string.

I hoped that `mount_base64_uploader` would accept both kinds, but it seems it doesn't. What would you recommend to implement such a behaviour?

[2015-09-07 15:46] lebedev-yury commented on #17
Actually it already does that.

If it is not working for you, i would suggest you to check your form (i suppose you have two fields for the same property in one form, and the second one overrides the first one)

[2015-09-07 18:00] jmuheim commented on #17
Hm and I indeed thought that I had this working already some time ago, so I was surprised, too!

I will check again what you said. Thanks for the fast response!

[2015-09-08 09:38] jmuheim commented on #17
Okay, I tracked it down a little further:

- When creating a nested object, the upload using `input type="file"` works as expected
- When creating a nested object, the upload using `textarea` and base64 string works as expected
- When updating a nested object, the upload using `input type="file"` **doesn't work**
- When updating a nested object, the upload using `textarea` and base64 string works

[2015-09-08 09:51] jmuheim commented on #17
The dummy app shows the same behaviour, I simply changed `mount_uploader` to `mount_base64_uploader` for both `User` and `Attachment`.

https://github.com/jmuheim/test-carrierwave-base64-update/blob/42e97054b30f375d2e0f37764170820f9393362b/app/models/attachment.rb

[2015-09-08 09:53] jmuheim commented on #17
Oh, it seems to have to do with something like in the last issue! When I only change the file field, then it doesn't have any effect on update. But if I also change another field (e.g. the name), it updates correctly!

[2015-09-08 10:07] lebedev-yury commented on #17
does the failure persist if you use the regular `mount_uploader`?

[2015-09-08 10:09] jmuheim commented on #17
No, it only happens with `mount_base64_uploader`. And it only happens for nested objects. You can try it in the test app.

[2015-09-18 07:13] lebedev-yury commented on #17
After a short investigation i found out, that the `carrierwave` gem does not marks the attribute as changed for some reason.

So i think i could just mark the attribute as changed before calling the super method from the `carrierwave` gem. But i'm not sure that this is correct.

[2015-09-18 11:58] jmuheim commented on #17
Thanks for investigating this. Should we propagate this issue on the carrierwave repo?

[2015-09-22 11:00] jmuheim commented on #17
Would you help me writing the description for the issue? I think you can do this much more precise than I can. I'm willing to write some passing/failing specs showing the problem, if needed, too.

Would be nice to have this issue created before end of the week, as I will be on holidays next week.

[2015-09-22 12:17] lebedev-yury commented on #17
I think i actually was wrong :(

Looks like the setter method from my gem overrides the method from the carrierwave, therefor it is not marking the attribute as changed for regular files. I'm sorry for any inconvenience, and i will make a quick in the next hour.

[2015-09-22 12:18] jmuheim commented on #17
Thanks, this is great to hear!

[2015-09-22 12:20] #17 closed

[2015-09-22 12:24] lebedev-yury commented on #17
So this should be fixed in version 2.1. Sorry again for the delay

[2015-09-22 13:15] jmuheim commented on #17
Nearly everything seems to work now, except one thing:

- When **updating** a **nested object**, the upload textarea and base64 string **doesn't** work, as long as it's the **only changed attribute**

[2015-09-22 14:01] lebedev-yury commented on #17
That's strange. Was this working before?

[2015-09-22 14:03] jmuheim commented on #17
I can't say it. It sounds familiar, but I don't really remember.

[2015-09-22 15:22] lebedev-yury commented on #17
Pushed a new minor version. It should fix the mentioned problem

[2015-09-22 16:40] jmuheim commented on #17
Alright, it's working perfectly now! Thank you.

[2015-10-08 13:51] lobo-tuerto opened #21 "Allow different filenames"
Nevermind!

[2015-10-08 14:20] #21 closed

[2015-10-09 17:21] lebedev-yury commented on #21
@lobo-tuerto: sorry for a long response

if this is still a problem, you might want to customize the upload path, which you can do in an uploader file

[2015-10-09 17:38] lobo-tuerto commented on #21
Thank you @lebedev-yury, I asked the question before reading your code. After the reading I realized that the way to achieve that was to modify my uploader class, like this:

[code]

All is good, sorry for the troubles!

[2015-10-09 17:39] lebedev-yury commented on #21
ok, no problem :)

[2015-10-16 13:06] jmuheim opened #22 "Should setting an image to empty string remove it?"
Just a simple question: Should setting an image to empty string remove it? Or can it only be removed using Carrierwave's `remove_xxx` field?

[2015-10-16 13:16] lebedev-yury commented on #22
it can be only removed by using `remove_xxx`, there's a `present?` check for the new value in the `adapter.rb`

[2015-10-16 13:20] jmuheim commented on #22
Thanks!

[2015-10-16 13:23] lebedev-yury commented on #22
You're welcome!

[2015-10-16 13:23] #22 closed

[2015-10-19 15:34] jmuheim opened #23 "Element is always marked as changed, also if it's not"
I just noticed that an element that has a `mount_base64_uploader` mounted is always marked as changed and thus saved to the DB, even when it's not changed.

It's a bit hard to describe, but let's try this.

I have a `User` model like this:

[code]

When I edit it in a form and **don't** change a thing, then the following DB query is executed anyways due to the log file:

[code]

Here are the `user

[2015-10-19 15:39] jmuheim commented on #23
Investigating the issue a little further gave the following result:

When there is a file already available for `:string_upload`, then the textarea field has the content `file.png`.

- When submitting it with this value, then an UPDATE is triggered.
- When submitting it empty, no UPDATE is triggered.

Is this a problem on the form's side now or on your side?

I generally think your gem should be a

[2015-10-20 13:13] mchicote opened #24 "Not keeping file name"
Hi
On https://github.com/lebedev-yury/carrierwave-base64/blob/master/lib/carrierwave/base64/base64_string_io.rb#L21 the original file name is not taken into consideration. Is it possible to keep the file name?

Thanks

[2015-10-20 13:28] lebedev-yury commented on #24
Hi!

For regular file uploads the file name should be kept. For base64 strings there is no filename basically, therefor it is set to `file.extension`

[2015-10-20 13:30] mchicote commented on #24
ohh too bad
So if I want to change the filename I would have to do it manually after the file is uploaded?

thanks!

[2015-10-20 13:32] lebedev-yury commented on #24
yep, you need to override the `original_filename` method, or you could change the store path

you're welcome!

[2015-10-20 13:33] #24 closed

[2015-10-21 14:38] jmuheim commented on #23
For the time being, I simply do `f.input :string_upload, as: :text, value: nil`, which does the trick. Yet, I think it's not really the solution to the named problem.

[2015-10-21 16:11] lebedev-yury commented on #23
Sorry, haven't got a time to look at it. Will try to do it on this week

[2015-10-22 08:09] jmuheim commented on #23
Seems that my workaround with setting value to nil breaks the possibility to remove the file with carrierwave's `remove_xxx` checkbox input.

Thanks for looking into it.

[2015-10-22 21:48] lebedev-yury commented on #23
After taking a closer look at the problem you described, here is what i think:

Showing the persisted file name in a base64 text input field makes no sense, since it is not a base64 encoded image data. Setting the input value is the most correct way i can think of to deal with the problem you have.

The functionality with removing stored uploads should not be broken by the nil value for the input

[2015-10-23 06:01] jmuheim commented on #23
Thanks for helping. I will take another look at my app next week and provide you with details, if necessary.

Have a nice weekend! :)

[2015-10-23 07:30] lebedev-yury commented on #23
thanks, you too :)

[2015-11-02 08:23] lebedev-yury commented on #23
@jmuheim: I will close this issue for now, if you still have problems with that, just open it again

[2015-11-02 08:23] #23 closed

[2015-11-18 09:37] ziyan-junaideen opened #25 "Upload Path Issue for Base64 Updates"
I am implementing an API using Grape mounted on Rails. I followed the instructions in the gem to implement the ability to upload a file using a Base64 string of an image. But the uploaded location seems to be messed up.

Upload location

- Normally: public/uploads/customer/profile_picture/:id
- Uploads to: public/tmp/1398957623-9523-4518

When I upload using a file it works. But when I use a base

[2015-11-18 09:42] lebedev-yury commented on #25
@ziyan-junaideen Can you give me an example of a base64 upload? At least the beginning of the string

[2015-11-18 10:03] ziyan-junaideen commented on #25
This is the string I used. https://gist.github.com/ziyan-junaideen/8a3ecb423aa2c4bed323

[2015-11-18 16:28] lebedev-yury commented on #25
This is actually very strange. In fact the `mount_base64_uploader` does not influenses the `store_dir` in any way, it only transforms the base64-encoded string to a StringIO, and passes it further to carrierwave.

[2015-11-20 05:38] ziyan-junaideen commented on #25
True that, I cloned the app to just play with it locally and was confused what might be causing the issue. Probably needs some close look and debugging.

[2015-11-20 05:53] ziyan-junaideen commented on #25
Judging by '0 issues', I think this is a local issue (particular with the project) is it? I will do some debugging and if I find a reson, will come back to you.

[2015-11-20 08:21] lebedev-yury commented on #25
Thanks! I will just close this issue for now, if you think that this is gem specific, just open it again

[2015-11-20 08:21] #25 closed

[2016-01-16 13:33] Ashviniv opened #26 "Net::ReadTimeout for avatar uploader"
I have uploaded base64 data to carrierwave using carrierwave-base64.
When I upload this as image, I send email with this uploaded file as attachment. I have used following line to send it as attachment.
[code]
I am getting ```Net::ReadTimeout Error```.How do I reduce the time to read this file?.How do I handle this situation?

[2016-01-16 18:04] lebedev-yury commented on #26
To answer your question i need more details.

Where are you persisting the image, and send out the email? Is is all done in a single controller action?

[2016-01-16 21:31] Ashviniv commented on #26
Storing image on amazon-s3. And I am saving the image and sending out an email in the same controller. The email attachment is set in mailer model.i.e the above line I shared is in mailer model.The controller action is:
[code]
In the mailer:

[code]

[2016-01-16 21:37] lebedev-yury commented on #26
So the problem here is not in the gem.

It is just to much work for one request. I would suggest you to keep the upload processing in the controller action, and move email sending to the async job.

http://edgeguides.rubyonrails.org/active_job_basics.html

[2016-01-16 21:37] #26 closed

[2016-03-04 11:16] Mohakjuneja opened #28 "Uploading multiple Images using JSON API"
Hi there! I need to upload multiple images to my model using the JSON API. I've been able to do it for a single image thanks to this link
https://gist.github.com/ifightcrime/9291167a0a4367bb55a2
But I've been failing at improvising the approach to upload multiple images. I'm using the the carrierwave mongoid gem along with the master branch of carrierwave and I've made the recommended changes to m

[2016-03-04 12:06] lebedev-yury commented on #28
@Mohakjuneja do you use `carrierwave-base64` gem, or the gist you mentioned above?

[2016-03-04 12:15] Mohakjuneja commented on #28
I came across the gem quite some time after I had implemented the functionality using the gist. It link says the functionality has now been extracted to carrierwave-base64. Honestly, I've tried everything and if migrating from the gist to the gem solves my problem of uploading multiple images, I'll gladly do it.
Thanks @lebedev-yury!

[2016-03-04 12:17] lebedev-yury commented on #28
Well, I'm sorry to say that, but i'm afraid I can't help you, because I have no idea about your app and the implementation. Try doing that with a gem, if you will have some problems, i will help you. But in this case, at least provide some code examples please.

[2016-03-04 12:17] #28 closed

[2016-04-06 19:24] Mohakjuneja commented on #28
Hi @lebedev-yury! I'm using carrierwave-base64 to upload files to my rails server using JSON. It works perfectly on my system. I'm noe deploying my application on Heroku and it is failing every time to upload the file.
This is the error in the server logs-
Errno::ENOENT (No such file or directory @ rb_sysopen - /home/mojo/Downloads/sample.pdf)

What am I missing?? :(
 Thank you for your time!

[2016-04-06 21:07] Mohakjuneja opened #31 "Uploading broken files to Amazon S3"
I'm using mongoid along with carrierwave to upload files using JSON API. My controller method looks like this-

[code]
Model

[code]
While the whole process works great, the file uploaded to S3 (pdf in this case) has no content in it.
I believe this has something to do with StringIO being used to read the file from the system. It sets the content_type to plain/text. This is confirmed when I downlo

[2016-05-06 10:55] Mohakjuneja commented on #31
@lebedev-yury Have you been able to take a look at this yet?

[2016-05-07 18:08] lebedev-yury commented on #31
Hi! You are experiencing the problem only with pdf file uploads, or with other file types too?

[2016-05-08 11:00] Mohakjuneja commented on #31
It's the same for images too. The content type saved is text/html
On 7 May 2016 23:39, "Yury Lebedev" <notifications@github.com> wrote:

[2016-05-10 11:33] wpram opened #34 "Updating photo"
I'm using this gem to upload base64 images. When I upload the image for the first time, the file upload successfully, but when updating the record and change photo, the file just won't save. Someone help me please?

[2016-05-10 13:49] #34 closed

[2016-05-12 13:39] lebedev-yury commented on #31
You mean that when you open the url to the uploaded file, it shows the file as plain in the browser? If yes, this might be a problem with incorrect content-disposition, set in your amazon s3

[2016-06-18 11:33] #31 closed

[2016-06-20 14:15] Copywright opened #36 "Undefined Method `strip` for File"
NoMethodError: undefined method `'strip' for #<File:0x007fb46a392328>
/Users/herbert/.rvm/gems/ruby-2.3.1/gems/carrierwave-base64-2.3.0/lib/carrierwave/base64/adapter.rb:14:in block in mount_base64_uploader'`

I'm 'uploading' a local file in my seeds.rb in Rails 4. Get this error after bundle updating.

[2016-06-20 14:21] lebedev-yury commented on #36
@Copywright thanks for reporting! Which version are you using currently?

[2016-06-20 14:45] Copywright commented on #36
Using 2.3.0

[2016-06-20 14:59] lebedev-yury commented on #36
thanks, i will fix that problem today, and will release 2.3.1.

[2016-06-20 17:01] Copywright commented on #36
Great, leave a note here when you do! I'll remove the revert after that.

[2016-06-20 17:19] #36 closed

[2016-06-20 17:20] lebedev-yury commented on #36
@Copywright the issue is now fixed with version 2.3.1. Sorry for the inconvenience

[2016-07-16 13:15] Mohakjuneja commented on #31
Hey Yuri,
I'm publishing a sample repository for the above error. The storage, both file system and remote (S3) set the content type to text/plain. You can fork the repository to test it. Also, I don't set content-disposition anywhere.

[https://github.com/Mohakjuneja/Base64upload](url)

[2016-07-18 07:03] lebedev-yury commented on #31
I think you misunderstand the concept of base64 encoded uploads. How do you think your web application would get the file contents from your local machine, by just having the address?

Base64 string should contain the contents of the file, that you want to upload, encoded in base64 string

[2016-07-18 07:11] Mohakjuneja commented on #31
Hi Yuri,
I apologise. I figured it myself just a few hours after writing to you. I'm
sorry about the trouble. I was fixated on it for over a week when I wrote
to you. Thank you for taking out time to see it!
On 18 Jul 2016 12:33, "Yury Lebedev" <notifications@github.com> wrote:

[2016-07-27 12:51] Mohakjuneja commented on #31
Hi @lebedev-yury ,
I'm trying to upload multiple files(20), with an average size of 700 KB using careerwave-base64 but my request times out. Is it suitable to upload them with this approach?

[2016-10-03 18:43] jeremyeaton89 commented on #13
Heyo,

Hopefully i'm doing something stupid, but i've included this gem in my gemfile, bundle installed, and restarted server but i still get the same undefined method complaint.

[2016-10-04 06:34] lebedev-yury commented on #13
@jeremyeaton89  try `bin/spring stop`, and restart your server

[2016-10-21 18:01] sachin87 opened #39 "Not compatible with latest carrierwave"
I have latest `carrierwave` gem installed in my `rails 5` app and I am getting this error message while doing `bundle`.Please Help.
[code]

[2016-10-27 10:50] Rubioli commented on #39
Instead of using **gem 'carrierwave', '>= 1.0.0.beta', '< 2.0'**, just comment it out and add this **gem 'carrierwave', '~> 0.11.2'**

Run `bundle install`, when it installed **gem 'carrierwave', '~> 0.11.2'**, THEN add **gem 'carrierwave-base64'** and run `bundle install` again.

[2016-10-27 13:15] lebedev-yury commented on #39
@Rubioli thanks! I will also release a new version in the next days.

[2016-10-28 13:12] ehannes opened #40 "Compatible with content_type_whitelist?"
Using this gem, can I use carrierwave's `content_type_whitelist` somehow?

[2016-10-29 14:15] ikbalix opened #41 "Permission denied @ unlink_internal [ Windows ]"
When i'm trying to upload a file i get this error im running my app on **Windows**

[code]

[2016-10-30 09:25] #39 closed

[2016-10-30 09:30] lebedev-yury commented on #41
Does this work without `carrierwave-base64`, with just using regular `carrierwave` uploaders?

[2016-11-01 15:07] juanpastas commented on #17
It would be great if you could clarify in readme that using `mount_base64_uploader` will not break `mount_uploader`. Or some note that clarifies how to use this gem to receive files by both an API and a form.

[2016-11-01 15:08] lebedev-yury commented on #17
@juanpastas yep, that's a good idea.

[2016-11-01 15:09] lebedev-yury commented on #40
actually this should work already, if you defined `content_type_whitelist` in your uploader

[2016-11-02 06:21] ehannes commented on #40
I tried it, but I didn't get it to work. I declared it as following in my uploader:
[code]
and then uploading a pdf file, but it was rejected due to incorrect content type.

[2016-11-02 14:03] ikbalix commented on #41
This problem appear when i start using `carrierwave-base64`, over think work correctly with `carrierwave` .

[2016-11-27 18:41] jzhang172 opened #43 "Symbolic Link Error when trying to install on Windows"
https://i.stack.imgur.com/md96I.png

On my project that has carrierwave-base64 as a gem install...when I do bundle install, I get this error.  This looks like not necessary to be there?  Any idea how to bypass this error?

I am using Windows.  I don't get the error on Mac or Linux.

[2016-11-27 20:08] lebedev-yury commented on #43
@jzhang172: thank you for reporting, I will fix this issue tomorrow

[2016-11-28 11:35] lebedev-yury commented on #43
@jzhang172 this issue is fixed in the new version

[2016-11-28 11:35] #43 closed

[2016-12-14 17:03] jflewis commented on #40
I'm having the same issue. Using this in my Uploader.
[code]

Is there any status on this?

[2016-12-15 09:44] lebedev-yury commented on #40
Planning to work on this in this weekend.

[2017-01-23 23:23] Quintasan opened #45 "Failure when uploading docx file"
When uploading a docx file which Content-Type is `application/vnd.openxmlformats-officedocument.wordprocessingml.document` (yes I know this looks retarded) carrierwave-base64 will fail to extract the proper media type because the `regex` in `get_file_format` method in `Base64StringIO` class doesn't account for dots and hyphens.

Fixing that is trivial (I will open a PR shortly) but another issue a

[2017-01-24 00:21] Quintasan commented on #45
Technically one could add `vnd.openxmlformats-officedocument.wordprocessingml.document` as an allowed extension but that's a one nasty workaround.

[2017-01-25 10:23] #45 closed

[2017-01-25 10:47] Quintasan opened #47 "Handle extensions from mime-type"
With #46 closed you can upload file which mime-types don't necessarily reflect their extension. The question now is how to handle those files. The current logic goes like this:

1. User uploads a base64 encoded docx file which has the mime-type of `application/vnd.openxmlformats-officedocument.wordprocessingml.document`
2. carrierwave-base64 names the file `file.extension` where `extension` is the

[2017-02-02 07:00] adamcrown commented on #47
I'd like to see a solution to this too. Currently I'm having to inject a bogus `application/extension` content type into my base64 string just to get the extension I want.

I'd think something like this as an alternative would make sense as a default with an option to override it maybe.

[code]

[2017-02-02 07:51] Quintasan commented on #47
@adamcrown Thanks for looking into that. I'll try to take a stab at it this weekend.

[2017-02-02 07:52] lebedev-yury commented on #47
How about passing a name of the file in the payload with the upload?

[2017-02-02 07:53] Quintasan commented on #47
This would imply that you trust the person uploading the file to provide
you the right extension.

On Thu, Feb 2, 2017 at 8:52 AM, Yury Lebedev <notifications@github.com>
wrote:

[2017-02-02 08:00] lebedev-yury commented on #47
Then I think we should use [ruby-mime-types](https://github.com/mime-types/ruby-mime-types/) gem for that, since you can register the mime types you need in your application, and the mime type object has `preferred_extension` method, that we could use.

[2017-02-03 07:55] lebedev-yury opened #48 "The `:file_name` option set to lambda should accept the model instance as argument"
The current support for lambda function set to a `:file_name` option is not very handy, since it has no access to the current modal instance. You can use dynamic things like current time for the filename, and that's basically it.

Let's make this option a bit more useful for the users:

[code]

This could be implemented by currying the lambda function with the model instance in `lib/carrierwave/ba

[2017-02-03 07:59] lebedev-yury opened #49 "Deprecate `:file_name` option set to string"
Setting the upload file name to a fixed string is not quite useful from my opinion, therefore we can deprecate it. If the user still wants to set the filename to a fixed string, he can pass the lambda function, that always returns a string:

[code]

So for the next minor release we will just print out a deprecation warning in case the user is setting the `file_name` to a string, with a clear expla

[2017-02-03 08:03] lebedev-yury opened #50 "Remove support for uploader `file_name` option set to a string"
After it has been deprecated in #49, we can remove support for it, and get rid of the conditional.

Additionally we could clean up the specs for generating the file name.

[2017-02-03 09:22] lebedev-yury commented on #47
@Quintasan @adamcrown I made a commit, that adds automatic identification of the file extension, using the content type from the uploaded base64 string: c93c69000f18b2a4877144ba036fea449134058a.

If you have time, I would like you to test it. If it's fine, I will release a 2.3.5 version, including this change.

[2017-02-03 10:10] #49 closed

[2017-02-03 10:45] #48 closed

[2017-02-03 10:48] lebedev-yury commented on #47
Ok, I think I can already release the 2.4.0

[2017-02-03 10:48] #47 closed

[2017-02-03 10:50] lebedev-yury commented on #41
@ikbalix Is this issue still relevant?

[2017-02-07 07:22] lebedev-yury commented on #41
Closing this issue for now, since I couldn't reproduce it on a VM

[2017-02-07 07:22] #41 closed

[2017-02-13 17:23] jmuheim opened #51 "Rails 5: stored image is deleted when updating a record"
When an image was uploaded to a record using `base64_mount_uploader`, and the record is updated, the stored image is deleted.

I have noticed this bug after upgrading an existing Rails application from 4.2.7 to 5.0.1.

I have created a working demo:

https://github.com/jmuheim/test-rails5-base64-carrierwave

Just run it and do the following to replicate:

- Go to http://localhost:3000/users/new
-

[2017-02-13 17:28] jmuheim commented on #51
By the way, as my application is in production with this bug, I have created a workaround like this:

[code]

This way the image can't be changed when updating the record, and it is not removed by accident (by the bug). If the user indeed wants to change the avatar, he can remove it using the `<%= f.check_box :remove_avatar %>` checkbox, and then upload a new avatar.

This prevents the biggest har

[2017-02-14 08:06] lebedev-yury commented on #51
@jmuheim thanks for reporting! Will work on a fix soon

[2017-02-14 10:02] jmuheim commented on #51
Thank you.

[2017-02-21 21:10] knutigro opened #52 "unknown mimetype data:image/jpg"
Hi, after upgrading from 2.3.4 to 2.4.0 i started getting this error: `unknown mimetype data:image/jpg`

I use the following format when uploading my base64 string: `data:image/jpeg;base64,(base64 encoded data)`

My current fix is to revert to 2.3.4. again but I wonder if there has been some changes in api or if this is a bug?

/Knut

[2017-02-22 08:46] lebedev-yury commented on #52
it's not a bug, officially the mimetype should be `data:image/jpeg`, which is also correct in your second sentence

[2017-02-22 09:31] knutigro commented on #52
ah ok so as I understand it its the  `jpeg` vs `jpg` that is causing my problem. Thank you for the clarification.

[2017-02-22 09:31] #52 closed

[2017-02-23 17:14] jmuheim commented on #51
Any news on this issue?

[2017-02-23 17:39] lebedev-yury commented on #51
@jmuheim sorry, was a bit busy. Will try to get my hands on it next couple of days

[2017-03-17 10:38] jmuheim commented on #51
Any news? I think I could fix this on my side by simply checking in the controller whether a base64 string is sent by the form, or only a file path string, and only assign the form value when it's a base64 string.

But as it has worked before without this check, I guess there is potential for optimisation within the gem itself.

[2017-03-17 18:30] lebedev-yury commented on #51
Ok, so I found the issue at least. It seems that the file gets deleted, since the input field for a base64 string is filled with a filename (which isn't a base64 string, and therefor get's rejected.

I will fix that in a moment

[2017-03-17 19:27] #51 closed

[2017-03-17 19:28] lebedev-yury commented on #51
@jmuheim The issue is fixed in version 2.5.0.

Sorry it took a while, I'm getting used to be a father now ;)

[2017-03-17 19:31] lebedev-yury commented on #51
@jmuheim and thank you for a great bug report, it's pleasure to work with

[2017-03-17 19:40] jmuheim commented on #51
Congratulations to being a father now, Yuri! :)

I will update the gem soon and will give you info whether it works for me.

[2017-03-18 05:16] BranLiang opened #53 "massive deprecation warning on rails 5.1"
DEPRECATION WARNING: The behavior of `changed_attributes` inside of after callbacks will be changing in the next version of Rails. The new return value will reflect the behavior of calling the method after `save` returned (e.g. the opposite of what it returns now). To maintain the current behavior, use `saved_changes.transform_values(&:first)` instead. (called from block (2 levels) in <top (requir

[2017-03-18 10:43] lebedev-yury commented on #51
Thank you!

[2017-03-19 13:57] BranLiang opened #54 "Unknown MIME type! Can you tell me how to solve this issue?"
Carrierwave::Base64::Base64StringIO::ArgumentError (Unknown MIME type: data:image/jpg):

I know you said using MIME::Types#add. But how? Thanks
I am using Rails 5.1 and was trying to upload a image using curl.

(echo -n '{"data":{"cover": "data:image/jpg;base64,'; \
  base64 app/images/cover.jpg; echo '"}}') |
curl -X PATCH -H "Content-Type: application/json" -d @- \
  http://localhost:3000/api/bo

[2017-03-19 13:59] BranLiang commented on #54
white list defined in uploader
def extension_whitelist
    %w(jpg jpeg png)
  end

[2017-03-20 10:09] jmuheim commented on #51
It works! Thank you! :-)

This is the spirit of great open source! 👍

[2017-03-20 13:01] lebedev-yury commented on #54
@BranLiang an easy fix would be to use `data:image/jpeg` mime type (with `e`)

For adding a mime type, you need to write an initializer

[2017-03-21 20:29] jmuheim commented on #51
Just one little side note: since I updated the gem, `File.basename(@finding.screenshot.to_s)` doesn't result in `file.png` anymore, but in `screenshot.png`. It's no problem for my application, I'm just wondering whether this is by intention or maybe some new behaviour that "slipped in"?

[2017-03-22 08:18] lebedev-yury commented on #51
@jmuheim It's actually a change, introduced in 2.4: https://github.com/lebedev-yury/carrierwave-base64/commit/91e11a954a0222a445e0e9888d4ac2215068ab82#diff-299f76b2e8ac002765221bbaefdd9849R17

The default file name is now taken from the attribute name (this should have been documented in the changelog)

[2017-03-22 08:20] jmuheim commented on #51
Ok I thought that this could be the case. Just wanted to make sure...

Thanks for responding.

[2017-03-29 01:57] BranLiang commented on #54
@lebedev-yury thanks, that works :dancing_men:

[2017-03-29 06:45] lebedev-yury commented on #54
You're welcome!

[2017-03-29 06:45] #54 closed

[2017-05-04 15:30] Borzik commented on #53
In case someone will face this issue while upgrading to Rails 5.1: it is actually caused by carrierwave gem, not this one. Using `gem 'carrierwave', '~> 1.1.0'` fixed it for me.

[2017-05-05 07:02] lebedev-yury commented on #53
@Borzik thank you! I'm closing this issue

[2017-05-05 07:02] #53 closed

[2017-05-21 16:00] adamcrown commented on #47
@lebedev-yury Sorry I'm so very late to this. I've just now had time to revisit this issue. Just wanted to let you know that it's working great. Thanks.

If anybody else stumbles on this and wonders how to add custom mime types. The documentation isn't great for the mime-types gem, but this is what worked for me

[code]

[2017-05-22 07:00] lebedev-yury commented on #47
@adamcrown thank you! I will add this information to the readme

[2017-05-25 08:11] hanhdt opened #56 "Error: "ArgumentError : wrong number of arguments (given 1, expected 0)""
Hi all,
After update gem version from 2.5.0 to 2.5.1.1 doesn't work uploading base64.

My stack:
[code]

In model:
[code]
when I try PUT update profile with picture base64 string in format:
`data:image/png;base64,` <Base64Encoded data>`

I get error wrong number of arguments (given 1, expected 0)

Do you have any ideas what's wrong?

Thanks.

[2017-05-25 14:49] szajbus commented on #56
I just submitted a PR with a fix.

Until it gets merged, the workaround is to pass a correct proc in `options`:

[code]

[2017-05-26 00:48] hanhdt commented on #56
Yes,

I already test your workaround. It worked for me, just update to generate random filename that avoid get stale data:
[code]
Thanks you a lot.

[2017-05-26 00:48] #56 closed

[2017-05-26 07:12] lebedev-yury commented on #56
Also, if you don't want to pass `_` to the lambda, you can use `Proc.new`, it doesn't check the number of arguments

[2017-05-26 07:56] lebedev-yury commented on #56
The issue is fixed in 2.5.2

[2017-06-06 15:16] bobishh commented on #40
Issue won't reproduce with current version of gem (2.5.3 at the moment) and carrierwave v1.1.0, tested with rails 5.1 and 4.2.8

[2017-06-06 19:34] lebedev-yury commented on #40
@bobishh Dis you set the `content_type_whitelist` to an array of extensions? I think it did not work for @ehannes and @jflewis because they tried to use MIME types for the whitelist

[2017-06-06 20:51] bobishh commented on #40
I've tried both ways - regex and array (except not with pdf but with image/png and image/jpeg), and it worked in all cases ¯\_(ツ)_/¯

[2017-06-07 03:58] lebedev-yury commented on #40
@bobishh okey, thank you, I'm closing this issue then

[2017-07-03 09:14] akshay-cs-borade opened #61 "Avatar is not saving into database"
Here, I'm using latest version of `carrierwave-base64` with `Rails 5.0.2`. Image is uploading into `/public/uploads/tmp` but saving nil avatar in database. Please have a look on this issue and do the needfull.

Thanks!

[2017-07-03 09:43] lebedev-yury commented on #61
@akshay-cs-borade if you want me to investigate this issue, I would need more information from you regarding the issue. Can you at least post the code in your controller action that is responsible for saving the record, and the model code?

[2017-07-09 07:57] #61 closed

[2017-07-12 19:35] ehannes commented on #40
Great! If I have the time to check I will let you know if I can solve this issue by upgrading the gems.

[2017-07-21 12:31] al13bash commented on #34
how you solved this problem?

[2017-08-22 18:10] bramski opened #62 "Have to reload AR model when saving base64 photos."
Seeing a bit of odd behavior.
Gemfile.lock:
[code]
Model looks like:
[code]

In a spec I have the following:

[code]

However, the check for presence fails.
[code]

If I reload the active record before checking for presence it succeeds.

[2017-08-24 18:13] ehannes commented on #40
@bobishh @lebedev-yury  I still fail to get this to work. I guess I'm doing some stupid mistake... I had a look at the [readme for the `ContentTypeWhitelist` module](http://www.rubydoc.info/gems/carrierwave/CarrierWave/Uploader/ContentTypeWhitelist) in CarrierWave and if I understand it correctly, I would be able to write something like this:
[code]

If I add the above code and then try to attach

[2017-08-24 18:31] ehannes commented on #40
I have solved the mystery. I tried in the console and it worked. Then I thought maybe something is wrong with my tests, and I were correct. Before I added the file with `Rack::Test::UploadedFile.new(file_path)`. If I tried a simple `File.open(file_path)` it worked. I guess I stick with the `File.open` for now on, or do you have any better suggestions?

[2017-08-24 19:53] ehannes commented on #40
Sorry to bother you again but now when I tried a real upload, it still doesn't work, (though my tests are now working). I guess that means that the error is in the frontend. I'll have to continue my research... I'll be back if I get it to work. If someone wants to look at it, this is my parameters sent to the controller:

[code]

This is the error I get:
[code]

This is my content_type_whitelist:

[2017-08-25 09:17] lebedev-yury commented on #40
@ehannes the parameters look fine. I will take a look at the issue, if I will find time on this weekend

[2017-10-16 09:40] arashm opened #65 "Regression on 2.6.0 when passing base64 string"
I have this factory in my tests that works fine in 2.5.3 with no error:

[code]
With version 2.6.0 they're all failing with:

[code]

What am I missing?

[2017-10-16 09:50] sjdrabbani commented on #65
Use ``Base64.strict_encode64`` instead of ``Base64.encode64``.

[2017-10-16 10:12] arashm commented on #65
If the gem used to work with `RFC 2045` and now it is not, I think it is still a regression. What's the reason behind this change? Also if this is the case, `2.6.0` should be a major `3.0.0` actually.

[2017-10-16 16:43] lebedev-yury commented on #65
@arashm I think you are right. First - that was really a breaking change, which means `3.0.0`. Second - I really don't see a reason to switch to `RFC 4648` standard for base64 strings.

So I would rather remove this change, and release `2.6.1` as a fix. What do you think?

[2017-10-16 17:04] arashm commented on #65
Sounds like a plan. As long as the public API is untouched.

[2017-10-16 17:47] lebedev-yury commented on #65
ok, this issue is fixed in 2.6.1

@arashm thank you for reporting!

[2017-10-16 17:47] #65 closed

[2017-10-26 17:13] miguejs opened #66 "Support for multiple uploads ?"
something like `mount_base64_uploaders`

[2017-10-26 18:38] lebedev-yury commented on #66
is there really a need for that?

why would you want to send multiple files in one request via the API?

IMO if you make several API requests per file, it's much more convenient to track progress, retry them etc.

Or I am missing something?

[2017-10-26 19:44] #66 closed

[2018-01-08 17:40] vladi160 opened #67 "Permission denied @ unlink_internal - E:/project_name/public/uploads/1515432095-16344-0028-5553/video.mp4"
Sry, I see that this is not correct place, but I cannot delete the issue.
I am getting this error when upload files. I have model Post with table posts which has a column video and model Image (table images). 1 Post has many images. The image is not required. The video is required. I have standard uploaders. This error happens ONLY if I upload more than 1 image. If I upload 1 image, everything wor

[2018-01-08 19:34] vladi160 commented on #67
`def cache_dir
  "#{Rails.root}/tmp/uploads"
end` fixed the problem.

[2018-01-08 19:34] #67 closed

[2018-02-10 10:06] darshand opened #68 "uninitialized constant CarrierWave::Mount (NameError)"
Hi, I am trying carrierwave-base64 in a rails 5 api only application. I had User model with image as attribute.

I added "gem 'carrierwave-base64' " in my Gemfile and bundle it, which installed both carrierwave 1.2.2 and carrierwave-base64 2.6.1.

I generated uploader with "rails g uploader Image" to generate image_uploader.rb.

When I add "  mount_base64_uploader :image, ImageUploader " to my Use

[2018-02-12 13:45] lebedev-yury commented on #68
@darshand thank you for reporting.

I'm afraid this isn't a problem of `carrierwave-base64` gem, rather `carrierwave` issue.

https://github.com/carrierwaveuploader/carrierwave/issues/1103
https://stackoverflow.com/questions/33482399/moduleactiverecord-uninitialized-constant-carrierwavemount-nameerror

[2018-02-12 13:45] #68 closed

[2018-03-21 19:51] woohoou commented on #66
It could be a nice feature, carrierwave have the mount_uploaders feature.

[2018-03-22 08:51] goelinsights commented on #40
@ehannes did you figure out what was going on or how to figure out the file name the whitelist is checking against?

Have a similar issue where I'm getting the error: You are not allowed to upload "" files, allowed types: image/jpg, image/jpeg, image/png", so it's stripping out the mime type somewhere and leaving it blank - would love some troubleshooting help.

My JSON file being submitted:
{id:

[2018-04-09 11:48] ehannes commented on #40
@goelinsights No, actually I have not fixed this yet...

[2018-04-16 19:55] JackCurrie opened #70 ""mount_base_64_uploader" method not recognized from rails console"
Hello!

I'm running into a strange thing currently, which I believe is in someway inherent to this gem, though it it possible that something is afoot in my rails environment...

The gem works flawlessly in tests, and I am able to access models with the `mount_base_64_uploader` on it when program execution is paused in debug statements.

However, when enter the rails console and I try to access an

[2018-04-17 07:12] lebedev-yury commented on #70
Hello!

Could you try to load ActiveRecord first? (just call `ActiveRecord`) in the console before calling `ClientPhoto`.

I suppose it has something to do with the Railtie - https://github.com/lebedev-yury/carrierwave-base64/blob/master/lib/carrierwave/base64/railtie.rb#L4

[2018-04-18 01:35] JackCurrie commented on #70
Just tried it out, got the same error message : /

Looks like a good guess as to where it might be occurring, possibly I will snoop around this a bit if I get some free time.
Thanks

[2018-07-05 02:51] maceonrails opened #71 "issue with cloudinary gem integration"
Hi Guys, is it compatible with cloudinary integration? because when i change implementation from file storage to cloudinary base it doesn't work, but if i use default carrierwave gem it work.

[2018-09-01 16:05] joeczucha opened #72 "Validation fails on :file attribute"
I've a strange bug which may be related to #51...?

I've a `Document` model with a `File` attribute (of type String) which is correctly set to the file name when I upload a file.

I'm trying to update an attribute on `Document` as follows:

    d = Document.first
    => #<Document:0x00007f9eb3421478
    id: "...",
    file: "02a0c50a4f.pdf",
    title: "My new project",
    created_at: Sat, 01 Sep

[2018-09-03 19:12] lebedev-yury commented on #72
@joeczucha I've added a test case for your example, and it seems to pass.

Maybe I'm missing something?

[2018-09-03 19:15] lebedev-yury commented on #71
Hi @maceonrails!

Currently there is no support for cloudinary integration. I can investigate a problem, if you will create a dummy application, that reproduces the described bug.

[2018-09-03 19:16] lebedev-yury commented on #70
@JackCurrie any updates on the issue? I will close it, if you still have the problem, feel free to reopen it

[2018-09-03 19:16] #70 closed

[2018-09-03 19:18] #71 closed

[2018-09-17 22:05] dmmcgee commented on #13
I am also having this exact issue. bin/spring stop, and restarting my server did not fix it.

[2018-09-18 18:41] lebedev-yury commented on #13
@dmmcgee thanks for reporting!

Is the `ApplicationRecord` inheriting from `ActiveRecord::Base`?

[2018-09-20 07:37] lebedev-yury commented on #13
well, you can try to require Carrierwave ActiveRecord adapter explicitly in initializer:

[code]

[2018-09-26 18:36] y9v commented on #72
@joeczucha I'm closing this due to inactivity. Please feel free to reopen it if it's still the case

[2018-09-26 18:36] #72 closed

[2018-09-27 11:55] joeczucha commented on #72
Apologies, I think I'd done something silly with the `filename` method in my uploader which was causing it to break on subsequent updates. Sorted now, thanks for coming back to me.

[2018-10-12 10:35] JamesAndresCM commented on #40
alternative to validate content_type :
Add in gemfile :
`gem 'cocaine', '~> 0.5.8'`
`gem 'file_validators'`

Add in model :
`validates :img, file_size: { in: 100.bytes..1.megabyte }, file_content_type: { allow: ['image/jpeg', 'image/png', 'image/jpg'], mode: :strict }`

[2018-10-17 19:48] bbugh commented on #62
@bramski did you sort out a workaround for this? We do a bunch of client params processing in a method far away from having access to the model itself, so we don't have an easy way to reload the model unless we reload *every* model.

[2018-10-22 09:28] y9v commented on #62
@bramski @bbugh Can you share some details on the versions of `carrierwave` and `rails` gems you use?

I've tried reproducing the bug without any success: ab8fdf12

[2018-10-22 23:07] bbugh commented on #62
We're on Rails 5.2, Carrierwave 1.2.3. I'm using Cloudinary as the CDN which has some code that extends Carrierwave, so it's possible that the extended code is breaking it. @bramski were you using Cloudinary as well?

[2018-11-01 08:19] y9v commented on #62
I'm closing this, until I can reproduce this bug. Feel free to re-open it if it is still actual

[2018-12-05 11:21] donatoaz opened #74 "NoMethodError undefined method _will_change"
Hi y'all. I am not sure if this is an issue with `carrierwave-base64` itself or with carrierwave itself.

I am using
[code]

On the console I do:

`myobject.update(before_image: "data:image/png;base64,......long string....")`

The error I am getting is:

[code]

I read [this issue](https://github.com/carrierwaveuploader/carrierwave/issues/274) on the carrierwave repo, which is from 2011, so I thou

[2018-12-10 08:47] y9v commented on #74
thank you for reporting! Can you rename your attribute to something different to `before_image`, and check if it works?

[2019-03-20 15:20] zitooon opened #75 "Not able to nullify file field in 2.8.0"
Hi,

On 2.7.0 when I do `object.image = nil` I get this as a result on `object.image` :
[code]

Since 2.8.0 I get :
[code]

On rails 5.1.6 with carrierwave (1.3.1)

Thanks for your work !

[2019-03-25 16:11] kamalpandey opened #76 "When i supply base64 string it works but during update when the string is from the s3 image sets to nil"

[2019-03-25 16:13] kamalpandey commented on #76
I am using rails: 5.1.4
"carrierwave-base64", '~> 2.5.0'
gem "carrierwave", "~> 1.2.1"

[2019-03-31 20:25] yourtallness commented on #62
I can confirm this happens with carrierwave, cloudinary & carrierwave-base64 on rails 4.2.11.1 as well.
Need to reload for the presence check to work.

[2019-05-24 20:55] vestedpr-dev commented on #75
I have the same problem.  I think it has to do with changes in this commit: https://github.com/y9v/carrierwave-base64/commit/5f7a500d0f11b41976c24e907e661645069cf0da#diff-0f064f8468be15dd0073c93783a23b45

When passing in nil, I think this line simply returns: ```return if data.to_s.empty? || data == send(attr).to_s```  I'm not sure what it did before but, it was possible to nullify the field befor

[2019-09-23 15:38] andrepcg commented on #66
I would also think this feature would be pretty nice

[2019-09-26 19:25] woohoou commented on #66
@andrepcg I did a fork time ago, probably you can use the code.

[2019-10-21 12:31] brunto opened #77 "Wrong data format for automatic detection. `.ai`instead of `.pdf`"
When I submit a PDF file base64 encoded like this `data:application/pdf;base64,JVBERi0xLjQKJfjl0MTGCjEgMCBvYmoKPDwgL...........` the automatic detection change the extension from `.pdf` to `.ai`.

I use:
[code]

Here is my code:

[code]

ps: When I submit an image base64 everything works fine.

Any idea?

[2019-10-21 12:46] brunto commented on #77
I found this:

[code]

[2019-10-21 12:56] brunto commented on #77
See:

[2019-10-21 15:18] halostatue commented on #77
This is not a bug in `mime-types`, but in `mime-types-data`. Update that gem to `3.2019.1009` and the issue will fix itself. Resolved in mime-types/mime-types-data#24.

[2019-10-21 15:20] #77 closed

[2020-03-11 11:17] jmuheim opened #78 "Save as JPG instead of PNG"
I have the following model:

[code]

The upload of the image happens via pasting an image from the clipboard via https://github.com/layerssss/paste.js and is saved as a base64 encoded string into a <textarea>, then uploaded using the https://github.com/y9v/carrierwave-base64 gem:

[code]

In the HTML form, it looks like this:

![image](https://user-images.githubusercontent.com/1814983/76411459-22e

[2020-04-02 10:25] y9v commented on #78
sorry, but I can't help you here. The issue you have is in `carrierwave` gem, not in `carrierwave-base64`, which only decodes the uploaded file string (which is a PNG, and gets saved as a PNG)

[2020-04-02 10:25] #78 closed

[2020-04-05 16:07] arvindvyas opened #79 "Not working for multiple file upload"
seems there is no service for `mount_uploaders`

[2020-04-13 11:19] y9v commented on #79
that's right. It was discussed multiple times, and I just think that this is unnecessary. I just don't see a reason to send one big request instead of multiple small ones to the API. It also makes retrying of particular uploads harder

[2020-04-13 11:19] #79 closed

[2020-07-24 20:42] arabakevin opened #81 "try to use carrierwave-base64 with nobrainer"
Hi,
i would like adapt this gem with noBrainer https://github.com/y9v/carrierwave-base64 to upload a file in Base64.
So,  i update this file https://github.com/y9v/carrierwave-base64/blob/master/lib/carrierwave/base64/railtie.rb
and here we can see what has been changed
[code]
I have found ```ActiveSupport.onload :nobrainer``` when i use in console this command
[code]

and when I use
[code]
nobrai

[2020-07-26 18:45] y9v commented on #81
Hi @arabakevin!

Did you try to use the `include` directly, without using ActiveSupport?

[code]

[2020-07-28 19:14] arabakevin commented on #81
Hi @y9v ,
I've already found a workaround to use the library.
I use an `initializers`
in my `config/initializers/carrierwave_base64.rb`, we can see
[code]
It's the same than you propose.
But my issue is not to found a workaround but found a solution about the method `on_load`. This method not working with NoBrainer and I would like know if you have an idea about that.
Thanks.
Thanks again for your

[2020-07-28 19:17] y9v commented on #81
Ok, thanks for the update.

To be honest, I have no clue. I did a quick check, and couldn't find anything. I would try to come back to this issue later this week

[2020-10-15 00:00] wooly commented on #75
This is still an issue for us and we also fixed it by downgrading to `2.7.0`. I'm not sure what the correct behaviour should be.

[2021-02-23 23:10] guicattani commented on #13
I had a strange scenario where `mount_base64_uploader` wasn't being recognized as a method too. After a bit of poking around I got it to work by requiring the base64 class with `require 'carrierwave/base64'` on top of the model.
For some reason it wasn't loading correctly.

Cheers!

[2021-03-22 18:37] skatezar commented on #51
Hi - I am currently experiencing the same bug - could you please clarify how exactly you solved it; aka what I need to do to fix it on my project? lg

[2021-03-25 02:09] oakbow opened #84 "depending on mimemagic, licensing problem with GPL"
https://github.com/carrierwaveuploader/carrierwave/issues/2548

like Carrierwave, carrierwave-base64 has same problems with [get_file_extension](https://github.com/y9v/carrierwave-base64/blob/515248b35a5e4dbb6445f7d76fe3c96659b7eca3/lib/carrierwave/base64/base64_string_io.rb#L50) method.

with this problem, we can not build/deploy/release our rails applications

[2021-03-25 07:02] anhntq6 commented on #84
now, my project can't deploy. @y9v Can you this fix error

[2021-03-25 07:10] oakbow commented on #84
without thinking about licensing, you can deploy your project after executing `bundle update mimemagic`.
all old versions are yanked because of the license issue, but mimemagic 0.3.6 is released under GPL.
of course you need to consider it is valid to install GPL gem into your project

@anhntq6

[2021-03-26 03:45] y-okamoto-1113 commented on #84
@y9v
i also have the same problem.
mimemagic 0.3.6 and 0.3.7 were yanked.
Instead, 0.3.8 and 0.3.9 and 0.4.2 were released.
https://github.com/mimemagicrb/mimemagic/commit/f14e3bfbcfdb212fca8975ef43d7d01e4c61d886

when i install mimemagic (0.4.2), a warning message was displayed.
Can you hepl me fix this warning.
[code]

[2021-03-26 05:50] oakbow commented on #84
how about using mimemagic 0.3.9 @y-okamoto-1113

[2021-03-27 04:44] oakbow commented on #84
new version of Rails(Marcel) have been released which is removed mimemagic dependency.
now marcel has compatible methods with mimemagic.
I guess it is the most easy way to replace mimemagic with marcel, like carrierwave https://github.com/carrierwaveuploader/carrierwave/pull/2551

[2021-03-28 03:27] justisb commented on #84
We need CarrierWave to release the new version with the Marcel dependency, but then I think this gem could be updated to also use Marcel fairly easily.

[2021-03-28 21:49] oakbow commented on #84
I made a pull request for removing mimemagic dependency.

[2021-03-28 23:50] justisb commented on #84
Once CarrierWave releases their update, this gem should also bump the minimum required `carrierwave` dependency version to match the release containing Marcel. Hopefully the CarrierWave gem gets a new release soon.

[2021-03-29 08:26] y9v commented on #84
@oakbow @justisb unfortunately we have to wait for carrierwave to release an updated version first.

[2021-03-30 03:57] oakbow commented on #84
carrierwave has been updated to 2.2.1. it has been free from mimemagic @y9v

[2021-03-30 04:03] justisb commented on #84
@oakbow Perhaps you could re-submit your PR that was reverted, but with the carrierwave dependency bumped to `>= 2.2.1`.

Then after a new release of carrierwave-base64, everyone will just need to update carrierwave, carrierwave-base64, and rails gems to be free of mimemagic.

[2021-03-30 07:53] oakbow commented on #84
@y9v
I made a new PR to be free from mimemagic completely. https://github.com/y9v/carrierwave-base64/pull/87
please review it, thank you.

[2021-03-30 08:44] y9v commented on #84
@justisb @oakbow thank you for your contribution, very much appreciated. I released 2.9.0, which does not depend on mimemagic anymore

[2021-03-30 08:44] #84 closed

[2021-03-30 22:48] bengalamx opened #88 "mimemagic dependency"
As we all now, mimemagic change his license and yank all the previous versions, so it is being removed from every gem in the Rails world.

There's even a workaround fork for carrierwave: https://github.com/carrierwaveuploader/carrierwave/issues/2548

Can we expect carrierwave-base64 to follow the big bro steps?

[2021-03-30 23:10] justisb commented on #88
This was merged & released this morning: https://github.com/y9v/carrierwave-base64/pull/87

[2021-05-25 22:32] bengalamx opened #89 "NameError (uninitialized constant CarrierWave::MiniMagick::ImageProcessing):"
Hi guys, sometimes when I tried to create or update a record with an image string of data:image/webp;base64... it returns a 500 error with NameError (uninitialized constant CarrierWave::MiniMagick::ImageProcessing). Don't know if this is from carrierwave-base64 or from carrierwave itself.

[2021-05-25 22:34] #88 closed

[2021-12-20 15:21] sangnuce commented on #81
I think the problem is on nobrainer side.
it doesn't call the hook like active_record and mongoid do.
https://github.com/rails/rails/blob/99bd1d229ae72c4b8428d4f174a7fe35b5e20de4/activerecord/lib/active_record/base.rb#L333
https://github.com/mongodb/mongoid/blob/eaa6d26467e7fb15d46867bed676d4e59317e738/lib/mongoid/document.rb#L344
https://api.rubyonrails.org/classes/ActiveSupport/LazyLoadHooks.htm

[2022-08-24 11:58] TenzinDorjee101 commented on #76
were you able to fix this ?

[2022-09-07 17:23] celsoMartins commented on #51
It is still happening here too. Every update operation in the controller removes the image that should be sent to Cloudinary. I was able to contingency It by adding a callback inside the model to update the required field before saving.